$bgColorPrimary: hsl(252, 100%, 67%);
$bgColorSecondary: hsl(241, 81%, 54%);
$circlePrimary: hsla(256, 72%, 46%, 1);
$circleSecondary: hsla(241, 72%, 46%, 0);
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);
$lighterGrayBlue: hsla(224, 30%, 27%, 0.5);

$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

$light-red-transparent: hsla(0, 100%, 67%, 0.5);
$orangey-yellow-transparent: hsla(39, 100%, 56%, 0.5);
$green-teal-transparent: hsla(166, 100%, 37%, 0.5);
$cobalt-blue-transparent: hsla(234, 85%, 45%, 0.5);
