@use '../../../styles/variables' as *;
@use '../../../styles/breakpoints' as *;

.summary-item{
    // background-color: lightblue;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: .625rem;

    p{
        font-weight: 700;
        @include md{
            font-size: 1rem;
        }
    }

    &__category{
        margin-left: .75rem;
        margin-right: auto;
    }
    
    &__score{
        color: $lighterGrayBlue;

        span{
            color: $darkGrayBlue;
            margin-right: .25rem;
        }
    }
}